/* banner */

.banner-section {
    padding-top: 137px;
    padding-bottom: 137px;
    background-image: url(../img/banner-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner__title {
    margin: 0;
    color: var(--bg-color);
    font-family: Fraunces;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px; 
}

.banner__desc {
    margin-top: 24px;
    margin-bottom: 0;
    max-width: 445px;
    color: var(--bg-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
