/* content */

.content-section {
    padding-top: 146px;
    padding-bottom: 168px;
}

.content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.content__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.content__item {
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0.25;
    max-width: 255px;
}


.content__item:not(:last-child) {
    margin-bottom: 24px;
}

.content__item:not(:first-child) {
    margin-top: 24px;
}

.content__item:hover {
    opacity: 1;
}

.content__item:hover .content__number {
    color: #0E8784;
}

.content__item:hover .content__title {
    color: #333D4B;
}

.content__item-link {
    text-decoration: none;
}

.content__item:after {
    position: absolute;
    top: 48px;
    left: 0;
    background: #83888F;
    width: 255px;
    height: 1px;
    content: "";
}

.content__number {
    margin: 0;
    color: #83888F;
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px; 
}

.content__title {
    display: inline-block;
    margin: 0;
    margin-left: 25px;
    color: #83888F;
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px; 
}

/* content form */

.content__form {
    margin-left: 125px;
}

.content__form-list {
    max-width: 730px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content__form__item {
    margin-bottom: 88px;
}

.content__form-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 59px;
}

.content__form-title {
    margin: 0;
    color: var(--link-color);
    font-family: Fraunces;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;     
}

.content__form-arrow {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.content__arrow:hover  {
    fill: #66D2CF;
}

.content__arrow:disabled {
    fill: #0E8784;
}

.content__form-list-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content__form-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content__form-text-wrapper {
    padding: 36px 28px 87px 28px;
    border-radius: 8px;
    background: #F4F1EB;
    max-width: 228px;
}

.content__form-text-wrapper:hover {
    background-color: var(--number-color);
}

.content__form-input:checked + .content__form-text-wrapper  {
    background-color: var(--dark-green);
}

.content__form-input:checked + .content__form-text-wrapper .content__form-subtitle {
    color: white;
}

.content__form-input:checked + .content__form-text-wrapper .content__form-desc {
    color: white;
}

.content__form-text-wrapper {
    margin: 0;
    display: inline-block;
}

.content__form-subtitle {
    margin: 0;
    display: inline-block;
    color: var(--text-color);
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
}

.content__form-desc {
    display: inline-block;
    max-width: 172px;
    margin: 0;
    margin-top: 23px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

.content__order {
    max-width: 730px;
    padding: 27px 64px;
    background-color: #2C343E;
}

.content__order-title {
    margin-top: 0;
    margin-bottom: 8px;
    opacity: 0.5;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    text-transform: uppercase;
}

.content__order-text {
    margin: 0;
    color: #FFF;
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 40px; 
}

.content__order-choice {
    margin: 0;
    color: #0E8784;
    font-family: Fraunces;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}

.content__order-btn {
    display: block;
    max-width: 217px;
    margin-left: auto;
    margin-top: 40px;
    padding: 15px 36px;
    border-radius: 6px;
    background: #0E8784;
    border: none;
    color: #FEFCF7;
    text-align: center;
    font-family: Fraunces;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
}

.content__order-btn:hover {
    background: #66D2CF;
}

.content__order-btn:disabled {
    background: #E2DEDB;
}


@include breakpoint-down(1120px) {
    /* content */

    .content {
        width: 100%;
        justify-content: stretch;
    }

    .content__list {
        display: none;
    }

    .content__form {
        margin-left: 0;
    }

    .content__form-title {
        font-size: 32px;     
    }

    .content__order-btn  {
        margin: 0 auto;
        margin-top: 40px;
    }
}

@include breakpoint-down(710px) {
    .content__form-title {  
        font-size: 24px;
        line-height: 28px;  
    }

    .content__form-item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        width: 100%;
    }

    .content__form-wrapper:not(:last-child) {
        margin-bottom: 16px;
    }

    .content__form-wrapper {
        width: 100%;
    }

    .content__form-text-wrapper {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px 25px;
    }

    .content__form-desc {
        max-width: 278px;
    }
}

@include breakpoint-down(375px) {
    .content__form-title {
        max-width: 240px;
    }

    .content__order {
        max-width: 328px;
        padding: 32px 25px;
    }

    .content__order-text {
        max-width: 279px;
    }
}