/* info */

.info-section {
    padding-top: 351px;
    padding-bottom: 200px;
}

.info__title {
    margin-top: 0;
    margin-bottom: 80px;
    color: var(--link-color);
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px; 
}

.info__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: start;
    list-style: none;
    flex-wrap: wrap;
}

.info__item {
    position: relative;
}

.info__item:not(:last-child) {
    padding-right: 95px;
}

.info__item:not(:last-child)::before {
    position: absolute;
    top: 15px;
    left: 15px;
    border: 2px solid var(--number-color);
    max-width: 380px;
    width: 100%;
    height: 1px;
    content: "";
}

.info__oval {
    position: relative;
    z-index: 10;
}

.info__number {
    margin-top: 67px;
    display: block;
    max-width: 101px;
    font-family: Fraunces;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px; 
}

.info__number--light {
    color: var(--number-color);
}

.info__subtitle {
    margin-top: 38px;
    margin-bottom: 42px;
    max-width: 255px;
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px; 
}

.info__subtitle--light {
    color: var(--text-color);
}

.info__desc {
    max-width: 285px;
    margin: 0;
    color: #333D4B;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

.info__desc--light {
    color: var(--text-color);
}

.info__link {
    margin-top: 64px;
    text-decoration: none;
}

/* info-night */

.info__section-night {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 168px;
    background-color: #2C343E;
}

.info__subtitle--night {
    color: var(--bg-color);
}

.info__desc--night {
    color: var(--bg-color);
}



@include breakpoint-down (1095px) {
    /* info */

    .info__item:not(:last-child) {
        padding-right: 10px;
    }
    
    .info__subtitle {
        max-width: 223px;
    }

    .info__desc {
        max-width: 223px;
    }
}

@include breakpoint-down (768px) {
    /* info */

    .info-section {
        padding-top: 434px;
        padding-bottom: 144px;
    }

    .info__section-night {
        padding-top: 97px;
        padding-bottom: 97px;
        margin-top: 120px;
    }

    .info__title {
        margin-bottom: 40px;
    }   

    .info__item {
        max-width: 223px;
        width: 100%;
    }   

    .info__item:not(:last-child) {
        padding-right: 10px;
    }   

    .info__number {
        margin-top: 48px;
        max-width: 90px;
    }   

    .info__subtitle {
        margin-top: 42px;
        margin-bottom: 38px;
        max-width: 223px;
        font-size: 28px;
        line-height: 32px;
    }   

    .info__desc {
        max-width: 223px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; 
    }   

    .info__link {
        margin-top: 44px;
    } 
}

@include breakpoint-down (705px) {
    /* info */

   .info-section {
       padding-top: 420px;
       padding-bottom: 120px;
   }

   .info__title {
       font-size: 24px;
       line-height: 32px;
   }

   .info__list {
       margin-top: 80px;
       margin-bottom: 80px;
       display: flex;
       flex-direction: column;
       align-items: center;
       flex-wrap: nowrap;
   }

   .info__list::before {
       display: none;
   }
   
   .info__item {
       max-width: 327px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .info__item:not(:last-child) {
       padding-right: 0;
       margin-bottom: 56px;
   }

   .info__item:not(:last-child)::before {
       display: none;
   }

   .info__oval {
       display: none;
   }

   .info__number {
       margin-top: 0;
   }

   .info__subtitle {
       text-align: center;
       margin-top: 24px;
       margin-bottom: 24px;
       font-size: 28px;
       line-height: 32px;
   }

   .info__desc {
       margin: 0 auto;
       text-align: center;
       max-width: 327px;
       font-size: 15px;
       line-height: 25px;
   }

   .info__link {
       margin-top: 79px;
   }  
}

@include breakpoint-down (456px) {

    /* info */

    .info-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .info__section-night {
        padding-top: 80px;
        padding-bottom: 79px;
        margin-top: 120px;
    }

    .info__title {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
    }

    .info__list {
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .info__list::before {
        display: none;
    }
    
    .info__item {
        max-width: 327px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .info__item:not(:last-child) {
        padding-right: 0;
        margin-bottom: 56px;
    }

    .info__item:not(:last-child)::before {
        display: none;
    }

    .info__oval {
        display: none;
    }

    .info__number {
        margin-top: 0;
    }

    .info__subtitle {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 32px;
    }

    .info__desc {
        margin: 0 auto;
        text-align: center;
        max-width: 327px;
        font-size: 15px;
        line-height: 25px;
    }

    .info__link {
        margin-top: 79px;
    }
}